In [32]:
import pandas as pd
import pickle

In [33]:
tablas = pd.read_html('https://web.archive.org/web/20240524150955/https://en.wikipedia.org/wiki/UEFA_Euro_2024')

In [34]:
tablas[19]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Germany (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Scotland,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Hungary,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,Switzerland,0,0,0,0,0,0,0,0,NaN

In [35]:
group_dict = {19: 'A', 26: 'B', 33: 'C', 40: 'D', 47: 'E', 54: 'F'}
dic_tablas={}

for i in range(19, 54, 7):
    group_letter = group_dict[i] 
    df = tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification') 
    dic_tablas[f'Group {group_letter}'] = df
    print(f"Group {group_letter}:")
    print(df)

Group A:
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Germany (H)    0  0  0  0   0   0   0    0
1    2     Scotland    0  0  0  0   0   0   0    0
2    3      Hungary    0  0  0  0   0   0   0    0
3    4  Switzerland    0  0  0  0   0   0   0    0
Group B:
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Spain    0  0  0  0   0   0   0    0
1    2  Croatia    0  0  0  0   0   0   0    0
2    3    Italy    0  0  0  0   0   0   0    0
3    4  Albania    0  0  0  0   0   0   0    0
Group C:
   Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Slovenia    0  0  0  0   0   0   0    0
1    2   Denmark    0  0  0  0   0   0   0    0
2    3    Serbia    0  0  0  0   0   0   0    0
3    4   England    0  0  0  0   0   0   0    0
Group D:
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Poland    0  0  0  0   0   0   0    0
1    2  Netherlands    0  0  0  0   0   0   0    0
2    3      Austria    0  0  0  0   0   0   0    0
3    4       France    0  0  0  0   0   0   0    0
Group E:
   Pos      Team  Pld  W  D  L  GF  GA  GD  Pts
0    1   Belgium    0  0  0  0   0   0   0    0
1    2  Slovakia    0  0  0  0   0   0   0    0
2    3   Romania    0  0  0  0   0   0   0    0
3    4   Ukraine    0  0  0  0   0   0   0    0

In [36]:
dic_tablas['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Germany (H)    0  0  0  0   0   0   0    0
1    2     Scotland    0  0  0  0   0   0   0    0
2    3      Hungary    0  0  0  0   0   0   0    0
3    4  Switzerland    0  0  0  0   0   0   0    0

In [37]:
with open('dic_mundial', 'wb') as output:
    pickle.dump(dic_tablas, output)